<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="text/css" http-equiv="Content-Style-Type">
<title>學籍資料</title>
</head>
<body>
<h1 align="center" class="root">
<!--<a name="7rnhm6p31027lv37ik7hi2a94n">學籍系統</a>-->
</h1>
<div align="center" class="globalOverview">
<img src="{{ url_for('static', filename='STD.jpg')}}"></div>
<!--
<p class="relationships">參閱： <a href="#1psrsjdtvhjefm5lu7oq1d5170">新生、遞補生資料</a>
</p>
<h2 class="topic">
<a name="0tcpcvrdqrq8piu0ug3omuqlfe">基本資料</a>
</h2>
<h3 class="topic">
<a name="73va52tj59j08t2utqf7tnasfa">&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="4t9158i060t41ndtiehkgp2935">&nbsp;&nbsp;在校資訊</a>
</h3>
<h3 class="topic">
<a name="05tvkvdrhsg794ql3gg74a02bl">&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="1duu6kfaon4m551n09tdu63t6g">&nbsp;&nbsp;各種聯絡方式</a>
</h3>
<h3 class="topic">
<a name="3hheqob5dtge3c3agu9ae2f836">&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="3mfuicjgb9uk5q4jb047r78g6b">&nbsp;&nbsp;身分別</a>
</h3>
<h2 class="topic">
<a name="1skbu3uo4r5uu3um65ed6dfjst">家庭、學歷資料</a>
</h2>
<h3 class="topic">
<a name="0r5bfsrclpl2hgb8c4lokhr01f">&nbsp;家</a>
</h3>
<h3 class="topic">
<a name="6g66cj9ltqivbn6due4ddmam76">&nbsp;&nbsp;家人基本資料</a>
</h3>
<h3 class="topic">
<a name="55gng1p5nu5tjof1nsl295gfca">&nbsp;學</a>
</h3>
<h3 class="topic">
<a name="6ut293pp5vsd9bk5ilkc1n6niu">&nbsp;&nbsp;畢業學校、科系</a>
</h3>
<h2 class="topic">
<a name="5vvfsr31e4hkfq5t2vbq79v7vm">註冊資料</a>
</h2>
<h3 class="topic">
<a name="56e2vhnd7nahpoctn68v9vhbh2">&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="4sgdolsaieg10f9c95gbkl5832">&nbsp;&nbsp;註冊學年期、班級</a>
</h3>
<h3 class="topic">
<a name="7rh8tsetrrtb537cm4m96ge9b7">&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="0d9cetku5sm32oqakg3u2lv41e">&nbsp;&nbsp;繳費狀態</a>
</h3>
<p class="relationships">參閱： <a href="#3g6itv33ktt8mn5pl6i5kiilr1">學雜費</a>
</p>
<h3 class="topic">
<a name="49oevnurpds1k8o0iq7tpr1di4">&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="529m8ci61lj34r0m690fn0cc7n">&nbsp;&nbsp;註冊狀態</a>
</h3>
<h3 class="topic">
<a name="1ict8eh61s6u8a4tj8niq259hv">&nbsp;4</a>
</h3>
<h3 class="topic">
<a name="54rihj12p6dndfl2mp9nnfijsf">&nbsp;&nbsp;總修學期</a>
</h3>
<h3 class="topic">
<a name="3bqo14j2irc4hfcqf596f6k6md">&nbsp;&nbsp;已修學期</a>
</h3>
<h3 class="topic">
<a name="5kb02km65904op9r51vdbkdqat">&nbsp;&nbsp;可修學期</a>
</h3>
<h2 class="topic">
<a name="1jkhd70a8u4285t8h884h59f96">休復學資料</a>
</h2>
<h3 class="topic">
<a name="4ccc31ss01l81k1t6fnkbn1hp6">&nbsp;休</a>
</h3>
<h3 class="topic">
<a name="1nie8ag3pm48sfv8jgecmp6dpn">&nbsp;&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="5c2tdhhfs60o0s7cjii9nt22sp">&nbsp;&nbsp;&nbsp;休學學年期</a>
</h3>
<h3 class="topic">
<a name="5lu3tcnlqih45brh82vvlnegv8">&nbsp;&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="2vifkdolcvdtkjttccqh8f2cj9">&nbsp;&nbsp;&nbsp;休學原因</a>
</h3>
<h3 class="topic">
<a name="16102nbirnocl7q35scja48u5o">&nbsp;&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="3m9kpgp6joamjbm65s7a6cq0gl">&nbsp;&nbsp;&nbsp;休學學期數</a>
</h3>
<h3 class="topic">
<a name="3err3banq8i3saglqjh3up43lm">&nbsp;&nbsp;4</a>
</h3>
<h3 class="topic">
<a name="76c66otb5kglfgaa1h3bp1c96c">&nbsp;&nbsp;&nbsp;休學字號</a>
</h3>
<h3 class="topic">
<a name="5jokap9uj5cjgolo58ei7qppjb">&nbsp;&nbsp;5</a>
</h3>
<h3 class="topic">
<a name="1998rpvniu01h0jc88vmjap27r">&nbsp;&nbsp;&nbsp;休學狀態</a>
</h3>
<h3 class="topic">
<a name="7187vnkutq0v0t5s8qch41mnl1">&nbsp;復</a>
</h3>
<h3 class="topic">
<a name="5rh5abcdqu40b5j1b2qqfp4uq8">&nbsp;&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="16vk5rdcciobl1cc49jjtodm6g">&nbsp;&nbsp;&nbsp;應復學年期</a>
</h3>
<h3 class="topic">
<a name="4ud8chfslndvjao2k1pgl3gifo">&nbsp;&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="25s3rbl4sdh2gac2cjabofi35a">&nbsp;&nbsp;&nbsp;復學學年期</a>
</h3>
<h3 class="topic">
<a name="3mpguc3ok84eo4qsi8q05u858q">&nbsp;&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="6h3sfn2mj1vcd9tpodk3fb8cr9">&nbsp;&nbsp;&nbsp;復學班級</a>
</h3>
<h3 class="topic">
<a name="5hhkc54lkpa4ku2b1gavrt8fmb">&nbsp;&nbsp;4</a>
</h3>
<h3 class="topic">
<a name="504iletrnv6kq7stgb3nve6jhk">&nbsp;&nbsp;&nbsp;復學狀態</a>
</h3>
<h2 class="topic">
<a name="07ojpu8h9vl08l6ak9rfqf3bpu">退學資料</a>
</h2>
<h3 class="topic">
<a name="6mbctoj27aqb26gnficf1gimf8">&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="2dmf5knrddn9svnqk2tp6fgujf">&nbsp;&nbsp;退學學年期</a>
</h3>
<h3 class="topic">
<a name="3jke28smnsfrcjg68p4hi58ruo">&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="16u3e4i2sqjq5ctclb40qag2ch">&nbsp;&nbsp;退學原因</a>
</h3>
<h3 class="topic">
<a name="3s5cicn5j9sjju5kknm12reig4">&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="0pi5djtkj8a4ri261vs4sqh1d0">&nbsp;&nbsp;修業證書字號</a>
</h3>
<h2 class="topic">
<a name="2c8mi055if6hho9u3no663q31g">轉系資料</a>
</h2>
<h3 class="topic">
<a name="31fhqn2fl6tv9te1mqdqb86pbh">&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="5t4c2ajukp5ok6g2fj8ih3c124">&nbsp;&nbsp;轉系學年期</a>
</h3>
<h3 class="topic">
<a name="0n6sl94hildve6plvpv92i134l">&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="1ti4hjasu94ql8leoom0rdfl0g">&nbsp;&nbsp;轉系原因</a>
</h3>
<h3 class="topic">
<a name="607bvq4c2fd2infndh1p92e2vc">&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="0h7h4cs839udtsg15r5d9mh576">&nbsp;&nbsp;原班級</a>
</h3>
<h3 class="topic">
<a name="0tfkk5h40l6998cn4ov04jm62v">&nbsp;&nbsp;轉入班級</a>
</h3>
<h3 class="topic">
<a name="3k4jr3pqa12v7vnevq2u72la1r">&nbsp;4</a>
</h3>
<h3 class="topic">
<a name="725adf7d5q5fa65342fr65m2vl">&nbsp;&nbsp;降轉</a>
</h3>
<h2 class="topic">
<a name="23lqvfdq8plnsn3i6cj5iev1i2">輔系雙主修</a>
</h2>
<h3 class="topic">
<a name="75vqavprgjecj7bvle9947ar2s">&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="66ua707gip9ms5pa201ehmlv3t">&nbsp;&nbsp;申請學年期</a>
</h3>
<h3 class="topic">
<a name="2446t31cnvf6l7q92j0fop8kqa">&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="4a60e0tj2egj0tbcrtkd1ft00b">&nbsp;&nbsp;修讀類型</a>
</h3>
<h3 class="topic">
<a name="3leej9i166sai8p7unij8gv9d5">&nbsp;&nbsp;&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="2ieqikofkvo342olkifj3l01k8">&nbsp;&nbsp;&nbsp;&nbsp;輔系</a>
</h3>
<h3 class="topic">
<a name="67mip0uhopurt3c7skikgfuqgb">&nbsp;&nbsp;&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="08qr25tv20gnmpe9jl1c64qrqj">&nbsp;&nbsp;&nbsp;&nbsp;雙主修</a>
</h3>
<h3 class="topic">
<a name="55qulg55n58st16d6vi1ebae85">&nbsp;&nbsp;&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="0c3d7ia3ooq1db9pc6mvgj5vtm">&nbsp;&nbsp;&nbsp;&nbsp;輔系轉雙主修</a>
</h3>
<h3 class="topic">
<a name="17fmk4fg05qbdi8o8tje8a6ivl">&nbsp;&nbsp;&nbsp;4</a>
</h3>
<h3 class="topic">
<a name="1ffvl59k38k5n5taeauul2arqr">&nbsp;&nbsp;&nbsp;&nbsp;雙主修轉輔系</a>
</h3>
<h3 class="topic">
<a name="6h7lfb909l42gd4ljlvr64516e">&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="5hmkpbpnlbhoutq7t6p81gop6r">&nbsp;&nbsp;修讀狀態</a>
</h3>
<h3 class="topic">
<a name="70pehqm493c0rutue6k2gbld9c">&nbsp;&nbsp;放棄狀態</a>
</h3>
<h3 class="topic">
<a name="3v8c4s3nf7l82uesgtflprho3v">&nbsp;4</a>
</h3>
<h3 class="topic">
<a name="1iuko51sj7mqvmb2csl7op0a21">&nbsp;&nbsp;修讀系所</a>
</h3>
<h2 class="topic">
<a name="3tm4v1lv619u8hu1cqu369brh7">畢業資料</a>
</h2>
<h3 class="topic">
<a name="4845ec1iniavcdgjqhivchfpg4">&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="6sq9cdu4liosh0j6gb4l9us5tr">&nbsp;&nbsp;畢業審查資料</a>
</h3>
<h3 class="topic">
<a name="1ff90ggg5ijib85hoi93c1bn21">&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="3a0jo3seof3frj4b3sl4q8i45f">&nbsp;&nbsp;畢業證書</a>
</h3>
<h3 class="topic">
<a name="1kutprom5tbtbepo12v53oocsn">&nbsp;&nbsp;畢業證號</a>
</h3>
<h3 class="topic">
<a name="2i65e3nov7cpn7d7vs5qb2o5n6">&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="5ke48ns695lvcoppuuus0u1llf">&nbsp;&nbsp;畢業證明書</a>
</h3>
<h3 class="topic">
<a name="0701bgslk5tn1cofte4dhacfns">&nbsp;&nbsp;畢業證明書字號</a>
</h3>
<h3 class="topic">
<a name="580t3qneae43r7h7dbihhluc0i">&nbsp;4</a>
</h3>
<h3 class="topic">
<a name="0pcshr7i1rvdvilqog5rjov94m">&nbsp;&nbsp;離校手續</a>
</h3>
<h2 class="topic">
<a name="43jar73qghd8hu11o5gi3ssc5v">畢業</a>
</h2>
<h2 class="topic">
<a name="3sea6ml350g6qumirmg5cg2ndt">學籍系統</a>
</h2>
<h2 class="topic">
<a name="7cku63mb5o87ajetmg9343842f">EXCEL匯入</a>
</h2>
<p class="relationships">參閱： <a href="#1psrsjdtvhjefm5lu7oq1d5170">新生、遞補生資料</a>
</p>
<h2 class="topic">
<a name="3kiv24sipv99fkmeskjjavj70h">招生系統介接</a>
</h2>
<p class="relationships">參閱： <a href="#1psrsjdtvhjefm5lu7oq1d5170">新生、遞補生資料</a>
</p>
<h2 class="topic">
<a name="34t67btlt1hbsg9es90h9vtf4m">升級作業</a>
</h2>
<h2 class="topic">
<a name="4j71ljv6ms0a3h1ehudmi64k3p">延長修業&#13;
年限作業</a>
</h2>
<h3 class="topic">
<a name="6q18qq6r65g87ipdldrl7nr5dt">&nbsp;1</a>
</h3>
<h3 class="topic">
<a name="54a3c6tj90s4ukjnirkn5s9tse">&nbsp;&nbsp;申請學年期</a>
</h3>
<h3 class="topic">
<a name="2a0ua12c6dmro5pj1f97ranng9">&nbsp;2</a>
</h3>
<h3 class="topic">
<a name="17oefeejl5a8mpp7biub7l67dt">&nbsp;&nbsp;申請延長學期數</a>
</h3>
<h3 class="topic">
<a name="0danar907us81p532auo086lc7">&nbsp;3</a>
</h3>
<h3 class="topic">
<a name="32vd484nak4pdefdgvt2m1bps5">&nbsp;&nbsp;延長原因</a>
</h3>
<h2 class="topic">
<a name="1psrsjdtvhjefm5lu7oq1d5170">新生、遞補生資料</a>
</h2>
<p class="relationships">參閱： <a href="#7rnhm6p31027lv37ik7hi2a94n">學籍資料</a>, <a href="#7cku63mb5o87ajetmg9343842f">EXCEL匯入</a>, <a href="#3kiv24sipv99fkmeskjjavj70h">招生系統介接</a>
</p>
<h2 class="topic">
<a name="3g6itv33ktt8mn5pl6i5kiilr1">學雜費</a>
</h2>
<p class="relationships">參閱： <a href="#0d9cetku5sm32oqakg3u2lv41e">繳費狀態</a>
</p>-->
</body>
</html>
